In [122]:
from splinter import Browser
# from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# chromedriver='C:/Users/a_mcr/chromedriver_win32/chromedriver'
# driver = webdriver.Chrome(chromedriver)
# driver.get("https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest")

In [3]:
executable_path = {'executable_path': 'C:/Users/a_mcr/chromedriver_win32/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### Step 1 - Scraping
----------------------

# NASA Mars News

In [4]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [6]:
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain book information

news_titles=soup.find_all('div', class_='content_title')
news_title = news_titles[1].text
news_title

news_p=soup.find('div', class_='article_teaser_body').text

print(f'The title is: {news_title}')
print(f'Summary: {news_p}')

The title is: NASA Readies Perseverance Mars Rover's Earthly Twin
Summary: Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

In [7]:
browser.quit()

# JPL Mars Space Images - Featured Image

In [86]:
executable_path = {'executable_path': 'C:/Users/a_mcr/chromedriver_win32/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [87]:
html = browser.html
jpl_soup = BeautifulSoup(html, 'html.parser')

In [88]:
# jpl_soup.find_all('article', class_='carousel_item')
# browser.find_by_tag('article')
# full_image_button.find_by_text('Link for Example.com')
# links_found = browser.find_by_tag('a')
# links_found.first

# Navigatge to the image  
full_image_button = browser.find_by_id("full_image")
full_image_button.click()

In [89]:
# Navigate to the image further to find the source link
button = browser.links.find_by_partial_text('more info')
button.click()

In [118]:
# image = jpl_soup.find(id='full_image').get('data-fancybox-href')
# # print(image.get('data-fancybox-href'))
# main_image = f'https://www.jpl.nasa.gov'+ image
# print(main_image)

# images = browser.find_by_id()

# image = jpl_soup.find_all('a', class_='main_image')
# print(image)
# jpl_soup.find_all('div', class_="main_image")

# divs = browser.find_by_tag("div")
# divs.text

# image = browser.links.find_by_partial_text('spaceimages')
# image

# image = browser.find_by_tag('img')
# image

# images = browser.links.find_by_partial_href('/spaceimages/images/largesize/')
# images

# for image in images:
#     image = jpl_soup.find_all('img')
#     print(image)

In [139]:
background_image = jpl_soup.find_all("article", class_="carousel_item")[0]['style']
background

"background-image: url('/spaceimages/images/wallpaper/PIA18433-1920x1200.jpg');"

In [117]:
browser.quit()

## Mars Facts

In [ ]:
u

In [135]:
tables = pd.read_html(url)
mars_facts = tables[0]
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [142]:
mars_facts.columns = ['Features','Data']
mars_facts

               Features                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [143]:
pwd

'C:\\Users\\a_mcr\\Desktop\\Bootcamp\\Homeworks\\Web_Scraping_Challenge\\Missions_to_Mars'

In [144]:
mars_facts.to_html('mars_facts.html', index=False, index_names=False)

In [ ]:
my_dict = {"Title": title,
           "Summary": summary
}
my_dict

In [85]:
browser.quit()